services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: "{{ keycloak_db_name }}"
      POSTGRES_USER: "{{ keycloak_db_user }}"
      POSTGRES_PASSWORD: "{{ keycloak_db_password }}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      disable: true

  keycloak:
    image: quay.io/keycloak/keycloak:{{ keycloak_version }}
    container_name: keycloak
    restart: unless-stopped

    depends_on:
      postgres:
        condition: service_healthy

    command: ["start-dev"]

    ports:
      - "{{ keycloak_port }}:8080"

    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: "{{ keycloak_admin_user }}"
      KC_BOOTSTRAP_ADMIN_PASSWORD: "{{ keycloak_admin_password }}"

      KC_DB: postgres
      KC_DB_URL: "jdbc:postgresql://postgres:5432/{{ keycloak_db_name }}"
      KC_DB_USERNAME: "{{ keycloak_db_user }}"
      KC_DB_PASSWORD: "{{ keycloak_db_password }}"

      KC_HOSTNAME: "{{ hostvars[inventory_hostname]['ansible_host'] }}"

      JAVA_OPTS: "-Xms64m -Xmx192m"

      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"

    mem_limit: 384m

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://127.0.0.1:8080 || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 20
      start_period: 120s

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui:{{ kafka_ui_version }}
    container_name: kafka-ui
    restart: unless-stopped

    depends_on:
      keycloak:
        {% comment %} condition: service_healthy {% endcomment %}

    ports:
      - "{{ kafka_ui_port }}:8080"

    environment:
      DYNAMIC_CONFIG_ENABLED: "true"

    volumes:
      - "{{ kafka_ui_dir }}/config.yml:/etc/kafkaui/dynamic_config.yaml:ro"

volumes:
  postgres_data: